BOT_TOKEN=your_telegram_bot_token
BOT_ADMINS=123456789,987654321
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=bot_user
DATABASE_PASSWORD=bot_pass
DATABASE_NAME=bot_db
LOG_LEVEL=INFO
SCHEDULER_ENABLED=true
SCHEDULER_REPORT_INTERVAL_MINUTES=60
